@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.woff2");
}
@font-face {
  font-family: "Lora";
  src: url("../fonts/Lora-Regular.woff2");
}
@font-face {
  font-family: "PlayfairDisplay";
  src: url("../fonts/PlayfairDisplay-Regular.woff2");
}
@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Regular.woff2");
}
.heading {
  margin-bottom: 24px;
}
.heading h2 {
  font-family: "PlayfairDisplay", sans-serif;
  font-size: 1.375rem;
  font-weight: 500;
  line-height: 1.75rem;
  letter-spacing: 0.3px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color: #111;
}

html, body, .wrapper {
  min-height: 100vh;
}

.wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

main {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  gap: 56px;
}

.container {
  padding: 0 1rem;
}

.slider .slider__body {
  display: grid;
  grid-auto-flow: column;
  gap: 1rem;
  margin-bottom: 24px;
}
.slider .slide {
  position: relative;
  border-radius: 0.5rem;
}
.slider .slide__img {
  position: relative;
  overflow: hidden;
}
.slider .slide__img img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.slider .slider__slides {
  width: 100%;
  height: 2px;
}
.slider .slider__slides .slides__element {
  background: rgba(17, 17, 17, 0.14);
  height: 100%;
}
.slider .slider__slides .slides__element.active {
  background: #111;
}
.slider .slider__slides.range .slides__element {
  background: #111;
}
.slider .slider__slides.count {
  display: grid;
  grid-auto-flow: column;
  gap: 2px;
}

.slider-mini .slider__body {
  gap: 0.5rem;
  margin: 0;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

header.scroll {
  background: #fff;
}
header.scroll path, header.scroll rect {
  fill: #111;
}
header.scroll .header__search circle, header.scroll .header__search path {
  stroke: #111;
}

.header__body {
  width: 100%;
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main__title {
  position: relative;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.16) 0%, rgba(0, 0, 0, 0.32) 100%);
}
.main__title .title__body {
  width: 100%;
  height: 424px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 25px;
}
.main__title .title__content {
  display: grid;
  grid-auto-flow: row;
  gap: 0.5rem;
  text-align: center;
}
.main__title .title__heading h1 {
  font-family: "PlayfairDisplay", sans-serif;
  color: #fff;
  font-size: 1.625rem;
  line-height: 30px;
}
.main__title .title__text p {
  font-family: "Lora", sans-serif;
  font-size: 0.8125rem;
  line-height: 1.0625rem;
  letter-spacing: 0.17px;
  color: #fff;
}
.main__title .title__link a {
  width: 106px;
  height: 40px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  font-family: "Inter", sans-serif;
  font-size: 0.75rem;
}
.main__title .title__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.main__banners .slider__slide {
  width: 324px;
  border-radius: 8px;
  overflow: hidden;
}
.main__banners .slider__slide::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 100%);
  border-radius: 8px;
}
.main__banners .slider__slide .slide__content {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  display: grid;
  grid-auto-flow: row;
  gap: 0.5rem;
  text-align: center;
  padding: 0 0 24px 0;
}
.main__banners .slider__slide .slide__title h2 {
  font-family: "PlayfairDisplay", sans-serif;
  color: #fff;
  font-size: 1.625rem;
  line-height: 30px;
}
.main__banners .slider__slide .slide__text p {
  font-family: "Lora", sans-serif;
  font-size: 0.9375rem;
  line-height: 21px;
  color: #fff;
}
.main__banners .slider__slide .slide__img {
  padding: 0 0 151% 0;
}

.main__collections .slider__slide {
  width: 202px;
}
.main__collections .slider__slide .slide__body {
  display: grid;
  grid-template-rows: auto 2rem 1fr;
  gap: 3px;
}
.main__collections .slider__slide .slide__img {
  padding: 0 0 115% 0;
  border-radius: 8px;
}
.main__collections .slider__slide .slide__title {
  display: flex;
  align-items: flex-end;
}
.main__collections .slider__slide .slide__title h3 {
  font-family: "Lora", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 20px;
}
.main__collections .slider__slide .slide__text p {
  font-family: "Inter", sans-serif;
  font-size: 0.75rem;
  color: #888;
  line-height: 1rem;
  letter-spacing: 0.12px;
}

.main__brands {
  border-bottom: 1px solid rgba(0, 0, 0, 0.14);
  padding-bottom: 32px;
}
.main__brands .brands__heading {
  margin-bottom: 32px;
}
.main__brands .brands__elements {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-flow: row;
  gap: 23px 18px;
  margin-bottom: 24px;
}
.main__brands .brands__elements a {
  font-family: "Lora", sans-serif;
  font-size: 0.8125rem;
  line-height: 1.0625rem;
  letter-spacing: 0.13px;
  color: #666;
}
.main__brands .brands__link a {
  font-family: "Lora", sans-serif;
  font-size: 0.9375rem;
  line-height: 1.3125rem;
  color: #000;
}

.main__novelty .slider__body {
  margin-bottom: 32px;
}
.main__novelty .slider__slide {
  width: 166px;
  display: grid;
  grid-template: 1fr 2rem/1fr;
  gap: 1.5rem;
}
.main__novelty .slide-img__container {
  padding: 46px 6px 46px 28px;
}
.main__novelty .slide__img {
  padding: 0 0 100% 0;
}
.main__novelty .slide__title h3 {
  font-family: "Lora", sans-serif;
  font-weight: 400;
  font-size: 0.9375rem;
  line-height: 21px;
}
.main__novelty .slide__text p {
  font-family: "Inter", sans-serif;
  font-size: 0.75rem;
  line-height: 1rem;
  letter-spacing: 0.12px;
}
.main__novelty .slide__main {
  display: grid;
  grid-auto-flow: row;
  gap: 0.2rem;
}
.main__novelty .slide__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 8px;
}
.main__novelty .slide__footer .slide__price {
  display: grid;
  grid-auto-flow: column;
  gap: 0.5rem;
  align-items: flex-end;
}
.main__novelty .slide__footer .slide__price .price-old {
  font-family: "Inter", sans-serif;
  font-size: 0.75rem;
  line-height: 15px;
  color: #888;
  text-decoration: line-through;
}
.main__novelty .slide__footer .slide__price .price-new {
  font-family: "Inter", sans-serif;
  font-size: 0.875rem;
  line-height: 17px;
  font-weight: 600;
}

.main__news .slider__slide {
  width: 202px;
  display: grid;
  grid-template: auto 1fr/1fr;
  gap: 1rem;
}
.main__news .slide__footer {
  display: grid;
  grid-template: minmax(2.5rem, auto) 1fr/1fr;
  gap: 0.3rem;
}
.main__news .slide__img {
  padding: 0 0 76% 0;
}
.main__news .slide__title h3 {
  font-family: "Lora", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25rem;
}
.main__news .slide__text p {
  font-family: "Inter", sans-serif;
  font-size: 0.75rem;
  line-height: 1rem;
  letter-spacing: 0.12px;
  color: #888;
}

.main__catalog .catalog__category .slider__slide {
  width: 80px;
  display: grid;
  grid-template: auto 1fr/1fr;
  gap: 0.3rem;
}
.main__catalog .catalog__category .slide__img {
  width: 90%;
  padding: 0 0 100% 0;
  margin: 0 auto;
}
.main__catalog .catalog__category .slide__img img {
  -o-object-fit: contain;
     object-fit: contain;
}
.main__catalog .catalog__category .slide__title h3 {
  font-family: "Inter", sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0.12px;
  text-align: center;
}
.main__catalog .catalog__menu {
  border-top: 1px solid rgba(0, 0, 0, 0.14);
  padding: 14px 0;
}
.main__catalog .menu-catalog__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "PlayfairDisplay", sans-serif;
  font-weight: 500;
  font-size: 0.8125rem;
  line-height: 15px;
  letter-spacing: 0.26px;
}
.main__catalog .catalog__filter {
  display: flex;
}
.main__catalog .catalog__filter .filter__img {
  margin-right: 0.8rem;
}
.main__catalog .catalog__sort {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 5px 0 0;
}
.main__catalog .catalog__sort .sort__unvisible {
  position: absolute;
  top: 120%;
  left: 0;
  width: 100%;
  display: none;
  grid-auto-flow: row;
  gap: 0.5rem;
  background: #fff;
}
.main__catalog .catalog__sort .sort__arrow {
  position: relative;
  width: 10px;
  height: 5px;
  margin-left: 0.65rem;
}
.main__catalog .catalog__sort .sort__arrow::after, .main__catalog .catalog__sort .sort__arrow::before {
  content: "";
  position: absolute;
  top: 50%;
  display: block;
  width: 60%;
  height: 1px;
  background: #111;
}
.main__catalog .catalog__sort .sort__arrow::after {
  transform: rotate(-45deg);
  right: 0;
}
.main__catalog .catalog__sort .sort__arrow::before {
  transform: rotate(45deg);
  left: 0;
}
.main__catalog .catalog__sort.active .sort__unvisible {
  display: grid;
}
.main__catalog .catalog__grid {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(2, 1fr);
  border-top: 1px solid rgba(0, 0, 0, 0.14);
}
.main__catalog .catalog__lazy {
  padding: 1rem 0;
  text-align: center;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.14);
}
.main__catalog .catalog__lazy button {
  background: none;
  padding: 10px 24px;
  border: 1px solid #D1D1D1;
  font-family: "Inter", sans-serif;
  font-size: 0.75rem;
  line-height: 15px;
}
.main__catalog .catalog__card {
  display: grid;
  grid-template: auto 1fr 2rem/1fr;
  gap: 0.5rem;
  padding: 0 5px 0.5rem 0;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.14);
}
.main__catalog .catalog__card:nth-child(odd):not(.card-big) {
  border-right: 0.5px solid rgba(0, 0, 0, 0.14);
}
.main__catalog .card__header {
  padding: 26px 24px;
}
.main__catalog .card__img {
  position: relative;
  overflow: hidden;
  padding: 0 0 125% 0;
}
.main__catalog .card__img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main__catalog .card__main {
  padding: 0 1rem;
  display: grid;
  grid-template: auto 1fr/1fr;
  gap: 0.2rem;
}
.main__catalog .card__title h3 {
  font-family: "Lora", sans-serif;
  font-weight: 400;
  font-size: 0.9375rem;
  line-height: 21px;
}
.main__catalog .card__text p {
  font-family: "Inter", sans-serif;
  font-size: 0.75rem;
  color: #888;
  line-height: 1rem;
  letter-spacing: 0.12px;
}
.main__catalog .card__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}
.main__catalog .card__price {
  display: flex;
  font-family: "Inter", sans-serif;
}
.main__catalog .card__price .price-new {
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 17px;
}
.main__catalog .card__price .price-old {
  font-size: 0.75rem;
  line-height: 14.5px;
  color: #888;
  text-decoration: line-through;
  margin-right: 0.5rem;
}
.main__catalog .card__price .price-text {
  font-family: "Inter", sans-serif;
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 14.5px;
}
.main__catalog .catalog__card.card-big {
  grid-column: 1/3;
}
.main__catalog .catalog__card.card-big .card__header {
  padding: 0 96px;
}
.main__catalog .catalog__poster.sale {
  background: linear-gradient(16.61deg, #29323C 1.82%, #485563 95.48%);
  padding: 48px 0 16px 0;
}
.main__catalog .catalog__poster.sale .sale__header {
  text-align: center;
  padding-bottom: 6px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.56);
}
.main__catalog .catalog__poster.sale .sale__header h2 {
  font-family: "PlayfairDisplay", sans-serif;
  font-size: 1.375rem;
  line-height: 20px;
  font-weight: 500;
  color: #fff;
}
.main__catalog .catalog__poster.sale .sale__header h3 {
  font-family: "PlayfairDisplay", sans-serif;
  font-size: 1.625rem;
  line-height: 30px;
  font-weight: 600;
  color: #fff;
}
.main__catalog .catalog__poster.sale .sale__main {
  padding: 0.5rem 0;
  margin-bottom: 1.5rem;
  text-align: center;
}
.main__catalog .catalog__poster.sale .sale__main p {
  font-family: "Inter", sans-serif;
  font-size: 0.75rem;
  line-height: 1rem;
  letter-spacing: 0.12px;
  color: #fff;
}
.main__catalog .catalog__poster.sale .sale__footer {
  display: flex;
  justify-content: center;
}
.main__catalog .catalog__poster.sale .sale__footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 99px;
  height: 40px;
  border: 1px solid #fff;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 0.75rem;
  line-height: 1rem;
  letter-spacing: 0.12px;
  color: #fff;
}
.main__catalog .catalog__poster.update {
  padding: 3.5rem 0;
}
.main__catalog .catalog__poster.update .update__body {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.main__catalog .catalog__poster.update .update__header .update__title {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__catalog .catalog__poster.update .update__header .update__title .update__img {
  margin-right: 12px;
}
.main__catalog .catalog__poster.update .update__header .update__title h4 {
  font-family: "Lora", sans-serif;
  font-weight: 400;
  font-size: 0.9375rem;
  line-height: 21px;
}
.main__catalog .catalog__poster.update .update__main .update__slider .slider__slide {
  width: 128px;
}
.main__catalog .catalog__poster.update .update__main .update__slider .slide__img {
  padding: 0 0 100% 0;
}
.main__catalog .catalog__poster.update .update__footer {
  text-align: center;
}
.main__catalog .catalog__poster.update .update__footer a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 184px;
  height: 40px;
  background: linear-gradient(266.12deg, #7423BE -6.07%, #C3266B 42.37%, #DD903F 89.82%);
  border-radius: 100px;
  padding: 9px 26px 9px 20px;
}
.main__catalog .catalog__poster.update .update__footer span {
  font-family: "Inter", sans-serif;
  font-size: 0.75rem;
  line-height: 15px;
  color: #fff;
}
.main__catalog .catalog__poster.update .update__footer svg {
  margin-right: 0.5rem;
}
.main__catalog .catalog__poster.update .update__footer svg path {
  fill: #fff;
}