@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Regular.woff2');
}
@font-face {
    font-family: 'Lora';
    src: url('../fonts/Lora-Regular.woff2');
}
@font-face {
    font-family: 'PlayfairDisplay';
    src: url('../fonts/PlayfairDisplay-Regular.woff2');
}
@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Regular.woff2');
}
$fontInter: 'Inter', sans-serif;
$fontLora: 'Lora', sans-serif;
$fontPlayfairDisplay: 'PlayfairDisplay', sans-serif;
$fontRaleway: 'Raleway', sans-serif;
$fontGrey: #888;

.heading {
    font-family: $fontPlayfairDisplay;
    font-size: 1.375rem;
    font-weight: 500;
    line-height: 1.75rem;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
    text-decoration: none;
    list-style: none;
    color: #111;
}
